#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

some key take aways from this tools of data science course 
we learnt how to use r studio, and jupyter and and also learnt about how git github works how to plot using ggplot anol
* R
* R STUDIO
* PANDAS
* NUMPY
* JUPYTER

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. sci-kit learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |

###Below are a few examples of evaluating arithmetic expressions in Python.
3+4
66+9
4+6

In [8]:
# *This a simple arithmetic expression to mutiply then add integers.*
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
hr=200/60
print(hr)

3.3333333333333335

## AUTHOR
ADITYA